<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<form method="POST" id="fo">
  <input type="text" name="nombre" >
  <input type="password" name="pass" >
  <br>
  <button type="submit">Aceptar</button>
</form>


<script src="/javascripts/headers.js"></script>




</body>
</html>
